body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
  }

.div-1 {
    background-color: #1F2937;
    padding: 0px 200px 80px;
    flex:1;
}

.content img {
    width: 100%;
    max-width: 200px;
    max-height: auto;
    border: 5px solid #3b4556;
    border-radius: 12px;
}

.portrait img {
}

.div-2 {
    background-color: #667f7f;
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}

.div-3 {
    background-color: #E5E7EB;
    padding: 80px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:40px;
}

/* general structure to line image and text top to bottom in div 2 */
.portrait {
    max-width: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

/* consolidate the bold text, secondary text, and button as one block to be arranged */
.content {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* used for the text body and image in div 1 to line horizontally as 2 separate blocks */
.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    max-width: auto;
    align-items: flex-start;
}

.button-box {
    display: flex;
    background-color: #3882F6;
    justify-content: space-around;
    gap:160px;
    padding: 40px;
    align-items: center;
}
.header {
    margin-bottom: 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1F2937;
    color: white;
    height: 72px;
    padding: 20px;
  }

img {
    align-self: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap:20px;
}

/* cosmetic only */
button {
    background-color: #3882F6;
    border-color: white;
    color: white;
    padding: 5px 15px;
    border-radius: 12px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
}
.hero-main {
    font-size: 48px;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-second {
    font-size: 18px;
    font-family: Roboto, sans-serif;
    color: #E5E7EB;
}

a {
    color: #666;
    text-decoration: none;
}


ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.header-logo {
    font-size: 24px;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
}

.info-header {
    font-size: 36px;
    color: #1F2937;
    font-family: Roboto, sans-serif;
    font-weight: 700;

}

